.contentsTable {
  background: #94b4d8;
  border-radius: 20px;
  margin: 0 auto;

  @include pc {
    padding: 45px 80px 60px;
    width: 820px;
  }

  @include sp {
    padding: 48px 20px;
    width: 100%;
  }

  &__head {

    & + .contentsTable__cont {
      @include pc {
        margin-top: 30px;
      }

      @include sp {
        margin-top: 36px;
      }
    }
  }

  &__heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    @include lhCrop(32/18);

    span {
      margin: 0 12px;
    }
  }

  &__cont {
    margin: 0 auto;

    @include pc {
      width: 660px;
    }
  }

  &__item {
    counter-increment: guideOrder;
    font-size: 16px;

    @include lhCrop(2);

  }

  &__link {
    align-items: center;
    border-bottom: 2px dotted #e9f0f7;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    position: relative;
    text-align: left;


    @include pc {
      padding: 12px 12px 12px 45px;
    }

    @include sp {
      padding: 18px 0 10px 45px;
    }

    &:before {
      align-items: center;
      background-color: #ffffff;
      border-radius: 50%;
      color: #6996c8;
      content: '0' counter(guideOrder);
      display: flex;
      font-family: $font-en;
      font-size: 14px;
      font-weight: bold;
      height: 28px;
      justify-content: center;
      left: 0;
      line-height: .7;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(0,-50%);
      width: 28px;

      @include pc {
      }

      @include sp {
      }
    }

  }

  .conversation + & {
    @include pc {
      margin-top: 80px;
    }

    @include sp {
      margin-top: 60px;
    }
  }
}
