.opinionSect {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__head,
  &__cont {
    @include pc {
      width: 390px;
    }
  }

  &__head {

    .subheading {

      & + .txt {
        margin-top: 24px;
      }
    }

    & + .opinionSect__cont {
      @include sp {
        margin-top: 32px;
      }
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  & + .opinionSect {
    margin-top: 80px;
  }
}
