.mainVisual {
  position: relative;

  @include pc {
    margin: 0 -120px;
    width: 1240px;
  }

  &__pic {
    display: block;
    overflow: hidden;

    @include sp {
      margin: 0 -12px 0 -10px;
    }
  }

  .bnr {
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%,-40%);
    z-index: 1;

    @include sp {
      top: calc(100% + 10px);
    }
  }

  .caption {
    bottom: -80px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    @include sp {
      bottom: -18%;
      text-align: center;
      width: 100%;
    }
  }
  
}
