<div id="ancArticle02" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">東証スタンダード上場の<br class="only-sp">穴吹興産株式会社が<br>共同事業主</div>
  </div>
  <div class="productArticle__cont">
    <%- include('/common/components/photo/_photo.ejs', {
      imagePath: '<img src="./imgs/img-article02-01@2x.png" alt="" width="820" height="591">',
      alt:'',
      captionPosition:'capOut',
      captionColor:'',
      lazy:'on',
      modifiers: []
    }) %>
    <p class="txt">エリア分散型アルファアセットファンドの共同事業主は、香川県本社の穴吹興産株式会社です。<br>
      穴吹興産は自社ブランド「アルファマンションシリーズ」のマンション分譲が主な事業となっています。<br>
      新築分譲マンションを供給する一方で、東京・大阪・九州等都心部の賃貸中の中古区分マンションを自社購入し保有する事業も積極的に行っています。<br>
      <span class="strong underline">今回のエリア分散型アルファアセットファンドは、穴吹興産が過去に購入した区分マンションが投資対象となっています。</span>
    </p>
    <div class="conversation">
      <div class="conversation__person conversation__person--woman">
        <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
        <div class="conversation__balloon">
          <p class="txt">今から新たに不動産を購入するのではなく、すでに穴吹興産が所有してるマンションが投資対象になるんですね！</p>
        </div>
      </div>
    </div>

  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第八弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
