<div id="ancArticle03" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">エリア分散型アルファ<br class="only-sp">アセットファンド<br>３つのポイント</div>
  </div>
  <div class="productArticle__cont">
    <section class="generalSect">
      <div class="heading">①穴吹興産が所有する全国の優良区分マンションが投資対象</div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-01-01@2x.png" alt="" width="820" height="500">',
          alt:'',
          captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">投資対象となる区分マンションは、<span class="strong underline">穴吹興産が全国で保有する物件の中から厳選した優良物件が対象。</span><br>マンション分譲会社の視点で立地にこだわり抜いた、全国の都心部マンションが投資対象となります。</p>
      <div class="conversation">
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">今回の第8弾プロジェクトでは全国で厳選された以下の物件が対象となります。</p>
          </div>
        </div>
      </div>
      <section class="subGeneralSect">
        <div class="subheading">対象物件一覧（一部抜粋）</div>
        <div class="targetList">
          <table class="tableLayout">
            <tbody class="tableLayout__body">
              <tr class="tableLayout__row tableLayout__row--first">
                <td class="tableLayout__data">物件名</td>
                <td class="tableLayout__data">都道府県</td>
                <td class="tableLayout__data">所在地</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ルジェンテ・リベル上野稲荷町</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">台東区東上野6-18</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ザ・パークハウス立川</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">立川市曙町３丁目５</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ラフィネス西宮北口サウスコート</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">西宮市深津町1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">エスリード西天満</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市北区西天満5丁目14</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">BELISTA北梅田</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市北区豊崎1丁目11</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ファミール宝塚グランスイートタワー</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">宝塚市武庫川町1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">エグゼタワー道修町</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市中央区道修町3丁目3</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">シティタワー西梅田</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市福島区福島7丁目20</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">神戸ハーバータワー</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">神戸市中央区海岸通6丁目1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ジオタワー宝塚WEST</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">宝塚市武庫川町6</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">コモダス天神</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市中央区今泉2丁目3</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">アクセス天神</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市中央区警固1丁目10</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">コモダス天神2</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市中央区今泉2丁目4</td>
              </tr>
            </tbody>
          </table>
        </div>

        <%# <div class="subheading">対象物件写真（一部）</div> %>
        <%#- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article03-01-02@2x.png" alt="" width="820" height="447">',
          alt:'左から時計回りにローレルコート与力町エルグレース、マナーズフォートノーブルテラス、パレロワイヤル聖護院、トア山手タワー棟、東町・江戸町ビル、アンピール舞鶴',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </section>
    </section>
    <section class="generalSect">
      <div class="heading">②不動産管理の手間が不要</div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">不動産投資の場合は管理が大変と聞いたことがあります。運用中のマンションの管理はどのようになるのでしょうか？</p>
          </div>
        </div>
      </div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-02-01@2x.png" alt="" width="820" height="551">',
        alt:'',
        captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">エリア分散型アルファアセットファンドは投資家様の共同出資により運用されますが、投資家様が実際に不動産を所有する訳ではありません。<br><span class="strong underline">穴吹興産が主体となり管理・運営をするため、不動産を取得した後の「賃貸管理の手間」を解消した新しい不動産投資となっています。</span></p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">本当に何もしなくていいんですか？</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">はい、投資期間中の不動産管理に関する手間を投資家様へかけることがありませんのでご安心下さい。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="generalSect">
      <div class="heading">③投資は少額から可能（10万円～）</div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">大きなお金を投資出来る訳ではないのですが、それでも良いのでしょうか？</p>
          </div>
        </div>
      </div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-03-01@2x.png" alt="" width="820" height="542">',
        alt:'',
        captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">不動産クラウドファンディングのメリットは、少額から始められることです。<br>
        一般的な不動産投資の場合、最初に不動産を購入する必要があり、数千万から数億単位の初期投資が必要となります。<br>
        エリア分散型アルファアセットファンドは、一般個人投資家様に向けた商品となっており、１０万円から投資が可能です。<br>
        少額から始められる投資の為、幅広い方に投資を頂くことができます。
      </p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">10万円でも100万円でも投資額を選べるということでしょうか？</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">はい、投資額はご自身でお決め頂くことができます</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第八弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
