<div id="ancArticle03" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">エリア分散型アルファ<br class="only-sp">アセットファンド<br>３つのポイント</div>
  </div>
  <div class="productArticle__cont">
    <section class="generalSect">
      <div class="heading">①穴吹興産が所有する全国の優良区分マンションが投資対象</div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-01-01@2x.png" alt="" width="820" height="500">',
          alt:'',
          captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">投資対象となる区分マンションは、<span class="strong underline">穴吹興産が全国で保有する物件の中から厳選した優良物件が対象。</span><br>マンション分譲会社の視点で立地にこだわり抜いた、全国の都心部マンションが投資対象となります。</p>
      <div class="conversation">
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">今回の第7弾プロジェクトでは全国で厳選された以下の物件が対象となります。</p>
          </div>
        </div>
      </div>
      <section class="subGeneralSect">
        <div class="subheading">対象物件一覧（一部抜粋）</div>
        <div class="targetList">
          <table class="tableLayout">
            <tbody class="tableLayout__body">
              <tr class="tableLayout__row tableLayout__row--first">
                <td class="tableLayout__data">物件名</td>
                <td class="tableLayout__data">都道府県</td>
                <td class="tableLayout__data">所在地</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">THE TOKYO TOWERS SEA TOWER</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">中央区勝どき6丁目3-1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ファミリータウン東陽3号棟</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">江東区東陽2丁目3-3</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ジオタワー高槻ミューズフロント</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">高槻市白梅町4-8</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">エスリード芦屋陽光町</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">芦屋市陽光町8-20</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">京橋グリーンハイツ１号棟</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市都島区都島南通2丁目1-1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">本町セントラルハイツ</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市西区西本町1丁目11-1</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">池田栄町ガーデンハウス</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">池田市栄町8-10</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">エスリード守口豊秀町</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">守口市京阪本通1丁目1-8</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">セントラル西宮門戸荘</td>
                <td class="tableLayout__data">兵庫県</td>
                <td class="tableLayout__data">西宮市門戸荘18-18</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">パレロワイヤル夕陽ヶ丘離宮</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">大阪市天王寺区夕陽丘4-30</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ローレルコート新千里東町あかしやの丘Ⅱ番館</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">豊中市新千里東町3丁目7-2</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">南薬院パークマンション</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市中央区薬院2丁目12-3</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">プレミスト大橋　ウエストウイング</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市南区塩原4丁目5-10</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">ウェルリバービュー天神</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市博多区中洲中島町3-15</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">エクセレンス祇園</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市博多区冷泉町1-3</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data">コアマンションネクステージ箱崎宮前</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">福岡市東区馬出5丁目34-28</td>
              </tr>
            </tbody>
          </table>
        </div>

        <%# <div class="subheading">対象物件写真（一部）</div> %>
        <%#- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article03-01-02@2x.png" alt="" width="820" height="447">',
          alt:'左から時計回りにローレルコート与力町エルグレース、マナーズフォートノーブルテラス、パレロワイヤル聖護院、トア山手タワー棟、東町・江戸町ビル、アンピール舞鶴',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </section>
    </section>
    <section class="generalSect">
      <div class="heading">②不動産管理の手間が不要</div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">不動産投資の場合は管理が大変と聞いたことがあります。運用中のマンションの管理はどのようになるのでしょうか？</p>
          </div>
        </div>
      </div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-02-01@2x.png" alt="" width="820" height="551">',
        alt:'',
        captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">エリア分散型アルファアセットファンドは投資家様の共同出資により運用されますが、投資家様が実際に不動産を所有する訳ではありません。<br><span class="strong underline">穴吹興産が主体となり管理・運営をするため、不動産を取得した後の「賃貸管理の手間」を解消した新しい不動産投資となっています。</span></p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">本当に何もしなくていいんですか？</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">はい、投資期間中の不動産管理に関する手間を投資家様へかけることがありませんのでご安心下さい。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="generalSect">
      <div class="heading">③投資は少額から可能（10万円～）</div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">大きなお金を投資出来る訳ではないのですが、それでも良いのでしょうか？</p>
          </div>
        </div>
      </div>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article03-03-01@2x.png" alt="" width="820" height="542">',
        alt:'',
        captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt">不動産クラウドファンディングのメリットは、少額から始められることです。<br>
        一般的な不動産投資の場合、最初に不動産を購入する必要があり、数千万から数億単位の初期投資が必要となります。<br>
        エリア分散型アルファアセットファンドは、一般個人投資家様に向けた商品となっており、１０万円から投資が可能です。<br>
        少額から始められる投資の為、幅広い方に投資を頂くことができます。
      </p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">10万円でも100万円でも投資額を選べるということでしょうか？</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">はい、投資額はご自身でお決め頂くことができます</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第七弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
