<div id="ancArticle06" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">収益性よりも安定性を重視</div>
  </div>
  <div class="productArticle__cont">
    <div class="conversation">
      <div class="conversation__person conversation__person--woman">
        <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
        <div class="conversation__balloon">
          <p class="txt">不動産クラウドファンディングで、もっと良い利回りの商品があるので気になっています</p>
        </div>
      </div>
    </div>
    <p class="txt"><span class="strong underline">エリア分散型アルファアセットファンドは、リスクを積極的に取り高収益を実現する商品ではありません。</span><br><br>
      投資商品には株式や現物不動産といった、リスクを許容しながら高利益を目指す商品があります。<br><br>
      不動産クラウドファンディングでも、投資利回りが10％以上の利回りを謳っている商品は存在しますが、投資利回りが高いとうことはそれだけ投資リスクが高いと言えます。<br><br>
      エリア分散型アルファアセットファンドは、利回りよりも投資リスクの安全性に重きを置いた商品となっています。
    </p>
    <%- include('/common/components/photo/_photo.ejs', {
      imagePath: '<img src="./imgs/img-article06-01@2x.png" alt="" width="820" height="515">',
      alt:'',
      captionPosition:'capOut',
      captionColor:'',
      lazy:'on',
      modifiers: []
    }) %>
    <p class="txt">普通預金や定期預金並みの低リスクとは言えませんが、出来る限り低リスクで資産運用をしたい堅実な投資家様にお勧めの商品です。</p>
    <div class="conversation">
      <div class="conversation__person conversation__person--woman">
        <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
        <div class="conversation__balloon">
          <p class="txt">預金の利息では物足りないけど本格的な投資はちょっと、という私にはピッタリの商品ですね！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第八弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
