<div id="ancArticle08" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">不動産クラウド<br class="only-sp">ファンディングを<br>活用された方のご意見</div>
  </div>
  <div class="productArticle__cont">
    <section class="opinionSect">
      <div class="opinionSect__head">
        <div class="subheading">自分たちの将来設計のため<br><span class="sub">（20代夫婦）</span></div>
        <p class="txt">年金等の社会保障があてにできなくなり、自分たちの老後を不安に感じています。自分の身は自分で守るためには、資産運用も自分たちで行うことの必要が必要性を感じていました。<br>
          株などの証券は価格の変動も高く、損をする可能性も高いため、比較的リスクが低い安定した投資商品を探していました。
        </p>
      </div>
      <div class="opinionSect__cont">
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article08-01@2x.png" alt="" width="390" height="293">',
          alt:'image photo',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </div>
    </section>
    <section class="opinionSect">
      <div class="opinionSect__head">
        <div class="subheading">眠らせていた資金の有効活用<br><span class="sub">（60代夫婦）</span></div>
        <p class="txt">会社を定年対退職した際の退職金がありますが、どこに投資すればよいか分からず、定期預金に預けていました。昔と違い今は利息がほとんど付かないため、ただお金を眠らせておくのはもったいないと考え色々な投資商品を検討していました。自分で投資のセンスがあると思っていないため、知識がなくてもチャレンジできる不動産クラウドファンディングに興味を持ちました。</p>
      </div>
      <div class="opinionSect__cont">
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article08-02@2x.png" alt="" width="390" height="293">',
          alt:'image photo',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </div>
    </section>
    <section class="opinionSect">
      <div class="opinionSect__head">
        <div class="subheading">投資ポートフォリオの１つとして</div>
        <p class="txt">現金・株式・不動産・国債等へ投資を行っています。<br>
          不動産クラウドファンディングも投資商品の１つです。高利回りの案件には手を出さず、低利回りでも安定性の高い投資案件に出資しています。<br>
          半年から1年といった投資期間であれば、長期で現金を固定されないので、資金が必要になった場合でも柔軟に対応できることが魅力だと考えています。
        </p>
      </div>
      <div class="opinionSect__cont">
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article08-03@2x.png" alt="" width="820" height="542">',
          alt:'image photo',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </div>
    </section>
    <%# <p class="caption">※分配金は源泉徴収額（20.42％相当）を控除した後の額をお振り込み致します。</p> %>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第七弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
