.panorama {
  position: relative;

  @include min-screen($breakP) {
    margin: 0 auto;
    width: 100%;
  }

  @include max-screen($breakP) {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }

  &:after {
    background: linear-gradient( 0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    content: '';
    height: 138px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__capIn,
  &__capOut {
    position: absolute;
  }

  &__capIn {
    bottom: 5px;
    right: 5px;
  }

  &__capOut {
    padding-top: 5px;
    right: 10px;
    top: 100%;
  }

  &__spIcon {
    left: 20px;
    position: absolute;
    top: 20px;

    @include min-screen($breakP) {
      display: none;
    }

    .swipeSVG {
      height: auto;
      width: 28.5px;

      &__path,
      &__polygon {
        fill: #999999;
      }
    }
  }

  &__direction {
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    color: #ffffff;
    display: flex;
    font-size: 36px;
    height: 70px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 70px;

    @include max-screen($breakP) {
      display: none;
    }

    &--prev {
      left: 0;

      &:after {
        content: '<';
      }
    }

    &--next {
      right: 0;

      &:after {
        content: '>';
      }
    }
  }

  &--swipe {
    @include min-screen($breakP) {
      height: 500px;
    }

    @include max-screen($breakP) {
      height: 80vh;
    }

    .panorama {

      &__inner {
        height: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__image {
        height: 100%;
        max-width: unset;
        width: auto;
      }
    }
  }
}
