/* stylelint-disable */
[data-sai][data-sai][data-sai-duration='50'],
body[data-sai-duration='50'] [data-sai] {
    transition-duration: 50ms;
}

[data-sai][data-sai][data-sai-delay='50'],
body[data-sai-delay='50'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='50'].sai-animate,
body[data-sai-delay='50'] [data-sai].sai-animate {
    transition-delay: 50ms;
}

[data-sai][data-sai][data-sai-duration='100'],
body[data-sai-duration='100'] [data-sai] {
    transition-duration: .1s;
}

[data-sai][data-sai][data-sai-delay='100'],
body[data-sai-delay='100'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='100'].sai-animate,
body[data-sai-delay='100'] [data-sai].sai-animate {
    transition-delay: .1s;
}

[data-sai][data-sai][data-sai-duration='150'],
body[data-sai-duration='150'] [data-sai] {
    transition-duration: .15s;
}

[data-sai][data-sai][data-sai-delay='150'],
body[data-sai-delay='150'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='150'].sai-animate,
body[data-sai-delay='150'] [data-sai].sai-animate {
    transition-delay: .15s;
}

[data-sai][data-sai][data-sai-duration='200'],
body[data-sai-duration='200'] [data-sai] {
    transition-duration: .2s;
}

[data-sai][data-sai][data-sai-delay='200'],
body[data-sai-delay='200'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='200'].sai-animate,
body[data-sai-delay='200'] [data-sai].sai-animate {
    transition-delay: .2s;
}

[data-sai][data-sai][data-sai-duration='250'],
body[data-sai-duration='250'] [data-sai] {
    transition-duration: .25s;
}

[data-sai][data-sai][data-sai-delay='250'],
body[data-sai-delay='250'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='250'].sai-animate,
body[data-sai-delay='250'] [data-sai].sai-animate {
    transition-delay: .25s;
}

[data-sai][data-sai][data-sai-duration='300'],
body[data-sai-duration='300'] [data-sai] {
    transition-duration: .3s;
}

[data-sai][data-sai][data-sai-delay='300'],
body[data-sai-delay='300'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='300'].sai-animate,
body[data-sai-delay='300'] [data-sai].sai-animate {
    transition-delay: .3s;
}

[data-sai][data-sai][data-sai-duration='350'],
body[data-sai-duration='350'] [data-sai] {
    transition-duration: .35s;
}

[data-sai][data-sai][data-sai-delay='350'],
body[data-sai-delay='350'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='350'].sai-animate,
body[data-sai-delay='350'] [data-sai].sai-animate {
    transition-delay: .35s;
}

[data-sai][data-sai][data-sai-duration='400'],
body[data-sai-duration='400'] [data-sai] {
    transition-duration: .4s;
}

[data-sai][data-sai][data-sai-delay='400'],
body[data-sai-delay='400'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='400'].sai-animate,
body[data-sai-delay='400'] [data-sai].sai-animate {
    transition-delay: .4s;
}

[data-sai][data-sai][data-sai-duration='450'],
body[data-sai-duration='450'] [data-sai] {
    transition-duration: .45s;
}

[data-sai][data-sai][data-sai-delay='450'],
body[data-sai-delay='450'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='450'].sai-animate,
body[data-sai-delay='450'] [data-sai].sai-animate {
    transition-delay: .45s;
}

[data-sai][data-sai][data-sai-duration='500'],
body[data-sai-duration='500'] [data-sai] {
    transition-duration: .5s;
}

[data-sai][data-sai][data-sai-delay='500'],
body[data-sai-delay='500'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='500'].sai-animate,
body[data-sai-delay='500'] [data-sai].sai-animate {
    transition-delay: .5s;
}

[data-sai][data-sai][data-sai-duration='550'],
body[data-sai-duration='550'] [data-sai] {
    transition-duration: .55s;
}

[data-sai][data-sai][data-sai-delay='550'],
body[data-sai-delay='550'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='550'].sai-animate,
body[data-sai-delay='550'] [data-sai].sai-animate {
    transition-delay: .55s;
}

[data-sai][data-sai][data-sai-duration='600'],
body[data-sai-duration='600'] [data-sai] {
    transition-duration: .6s;
}

[data-sai][data-sai][data-sai-delay='600'],
body[data-sai-delay='600'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='600'].sai-animate,
body[data-sai-delay='600'] [data-sai].sai-animate {
    transition-delay: .6s;
}

[data-sai][data-sai][data-sai-duration='650'],
body[data-sai-duration='650'] [data-sai] {
    transition-duration: .65s;
}

[data-sai][data-sai][data-sai-delay='650'],
body[data-sai-delay='650'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='650'].sai-animate,
body[data-sai-delay='650'] [data-sai].sai-animate {
    transition-delay: .65s;
}

[data-sai][data-sai][data-sai-duration='700'],
body[data-sai-duration='700'] [data-sai] {
    transition-duration: .7s;
}

[data-sai][data-sai][data-sai-delay='700'],
body[data-sai-delay='700'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='700'].sai-animate,
body[data-sai-delay='700'] [data-sai].sai-animate {
    transition-delay: .7s;
}

[data-sai][data-sai][data-sai-duration='750'],
body[data-sai-duration='750'] [data-sai] {
    transition-duration: .75s;
}

[data-sai][data-sai][data-sai-delay='750'],
body[data-sai-delay='750'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='750'].sai-animate,
body[data-sai-delay='750'] [data-sai].sai-animate {
    transition-delay: .75s;
}

[data-sai][data-sai][data-sai-duration='800'],
body[data-sai-duration='800'] [data-sai] {
    transition-duration: .8s;
}

[data-sai][data-sai][data-sai-delay='800'],
body[data-sai-delay='800'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='800'].sai-animate,
body[data-sai-delay='800'] [data-sai].sai-animate {
    transition-delay: .8s;
}

[data-sai][data-sai][data-sai-duration='850'],
body[data-sai-duration='850'] [data-sai] {
    transition-duration: .85s;
}

[data-sai][data-sai][data-sai-delay='850'],
body[data-sai-delay='850'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='850'].sai-animate,
body[data-sai-delay='850'] [data-sai].sai-animate {
    transition-delay: .85s;
}

[data-sai][data-sai][data-sai-duration='900'],
body[data-sai-duration='900'] [data-sai] {
    transition-duration: .9s;
}

[data-sai][data-sai][data-sai-delay='900'],
body[data-sai-delay='900'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='900'].sai-animate,
body[data-sai-delay='900'] [data-sai].sai-animate {
    transition-delay: .9s;
}

[data-sai][data-sai][data-sai-duration='950'],
body[data-sai-duration='950'] [data-sai] {
    transition-duration: .95s;
}

[data-sai][data-sai][data-sai-delay='950'],
body[data-sai-delay='950'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='950'].sai-animate,
body[data-sai-delay='950'] [data-sai].sai-animate {
    transition-delay: .95s;
}

[data-sai][data-sai][data-sai-duration='1000'],
body[data-sai-duration='1000'] [data-sai] {
    transition-duration: 1s;
}

[data-sai][data-sai][data-sai-delay='1000'],
body[data-sai-delay='1000'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1000'].sai-animate,
body[data-sai-delay='1000'] [data-sai].sai-animate {
    transition-delay: 1s;
}

[data-sai][data-sai][data-sai-duration='1050'],
body[data-sai-duration='1050'] [data-sai] {
    transition-duration: 1.05s;
}

[data-sai][data-sai][data-sai-delay='1050'],
body[data-sai-delay='1050'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1050'].sai-animate,
body[data-sai-delay='1050'] [data-sai].sai-animate {
    transition-delay: 1.05s;
}

[data-sai][data-sai][data-sai-duration='1100'],
body[data-sai-duration='1100'] [data-sai] {
    transition-duration: 1.1s;
}

[data-sai][data-sai][data-sai-delay='1100'],
body[data-sai-delay='1100'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1100'].sai-animate,
body[data-sai-delay='1100'] [data-sai].sai-animate {
    transition-delay: 1.1s;
}

[data-sai][data-sai][data-sai-duration='1150'],
body[data-sai-duration='1150'] [data-sai] {
    transition-duration: 1.15s;
}

[data-sai][data-sai][data-sai-delay='1150'],
body[data-sai-delay='1150'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1150'].sai-animate,
body[data-sai-delay='1150'] [data-sai].sai-animate {
    transition-delay: 1.15s;
}

[data-sai][data-sai][data-sai-duration='1200'],
body[data-sai-duration='1200'] [data-sai] {
    transition-duration: 1.2s;
}

[data-sai][data-sai][data-sai-delay='1200'],
body[data-sai-delay='1200'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1200'].sai-animate,
body[data-sai-delay='1200'] [data-sai].sai-animate {
    transition-delay: 1.2s;
}

[data-sai][data-sai][data-sai-duration='1250'],
body[data-sai-duration='1250'] [data-sai] {
    transition-duration: 1.25s;
}

[data-sai][data-sai][data-sai-delay='1250'],
body[data-sai-delay='1250'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1250'].sai-animate,
body[data-sai-delay='1250'] [data-sai].sai-animate {
    transition-delay: 1.25s;
}

[data-sai][data-sai][data-sai-duration='1300'],
body[data-sai-duration='1300'] [data-sai] {
    transition-duration: 1.3s;
}

[data-sai][data-sai][data-sai-delay='1300'],
body[data-sai-delay='1300'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1300'].sai-animate,
body[data-sai-delay='1300'] [data-sai].sai-animate {
    transition-delay: 1.3s;
}

[data-sai][data-sai][data-sai-duration='1350'],
body[data-sai-duration='1350'] [data-sai] {
    transition-duration: 1.35s;
}

[data-sai][data-sai][data-sai-delay='1350'],
body[data-sai-delay='1350'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1350'].sai-animate,
body[data-sai-delay='1350'] [data-sai].sai-animate {
    transition-delay: 1.35s;
}

[data-sai][data-sai][data-sai-duration='1400'],
body[data-sai-duration='1400'] [data-sai] {
    transition-duration: 1.4s;
}

[data-sai][data-sai][data-sai-delay='1400'],
body[data-sai-delay='1400'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1400'].sai-animate,
body[data-sai-delay='1400'] [data-sai].sai-animate {
    transition-delay: 1.4s;
}

[data-sai][data-sai][data-sai-duration='1450'],
body[data-sai-duration='1450'] [data-sai] {
    transition-duration: 1.45s;
}

[data-sai][data-sai][data-sai-delay='1450'],
body[data-sai-delay='1450'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1450'].sai-animate,
body[data-sai-delay='1450'] [data-sai].sai-animate {
    transition-delay: 1.45s;
}

[data-sai][data-sai][data-sai-duration='1500'],
body[data-sai-duration='1500'] [data-sai] {
    transition-duration: 1.5s;
}

[data-sai][data-sai][data-sai-delay='1500'],
body[data-sai-delay='1500'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1500'].sai-animate,
body[data-sai-delay='1500'] [data-sai].sai-animate {
    transition-delay: 1.5s;
}

[data-sai][data-sai][data-sai-duration='1550'],
body[data-sai-duration='1550'] [data-sai] {
    transition-duration: 1.55s;
}

[data-sai][data-sai][data-sai-delay='1550'],
body[data-sai-delay='1550'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1550'].sai-animate,
body[data-sai-delay='1550'] [data-sai].sai-animate {
    transition-delay: 1.55s;
}

[data-sai][data-sai][data-sai-duration='1600'],
body[data-sai-duration='1600'] [data-sai] {
    transition-duration: 1.6s;
}

[data-sai][data-sai][data-sai-delay='1600'],
body[data-sai-delay='1600'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1600'].sai-animate,
body[data-sai-delay='1600'] [data-sai].sai-animate {
    transition-delay: 1.6s;
}

[data-sai][data-sai][data-sai-duration='1650'],
body[data-sai-duration='1650'] [data-sai] {
    transition-duration: 1.65s;
}

[data-sai][data-sai][data-sai-delay='1650'],
body[data-sai-delay='1650'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1650'].sai-animate,
body[data-sai-delay='1650'] [data-sai].sai-animate {
    transition-delay: 1.65s;
}

[data-sai][data-sai][data-sai-duration='1700'],
body[data-sai-duration='1700'] [data-sai] {
    transition-duration: 1.7s;
}

[data-sai][data-sai][data-sai-delay='1700'],
body[data-sai-delay='1700'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1700'].sai-animate,
body[data-sai-delay='1700'] [data-sai].sai-animate {
    transition-delay: 1.7s;
}

[data-sai][data-sai][data-sai-duration='1750'],
body[data-sai-duration='1750'] [data-sai] {
    transition-duration: 1.75s;
}

[data-sai][data-sai][data-sai-delay='1750'],
body[data-sai-delay='1750'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1750'].sai-animate,
body[data-sai-delay='1750'] [data-sai].sai-animate {
    transition-delay: 1.75s;
}

[data-sai][data-sai][data-sai-duration='1800'],
body[data-sai-duration='1800'] [data-sai] {
    transition-duration: 1.8s;
}

[data-sai][data-sai][data-sai-delay='1800'],
body[data-sai-delay='1800'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1800'].sai-animate,
body[data-sai-delay='1800'] [data-sai].sai-animate {
    transition-delay: 1.8s;
}

[data-sai][data-sai][data-sai-duration='1850'],
body[data-sai-duration='1850'] [data-sai] {
    transition-duration: 1.85s;
}

[data-sai][data-sai][data-sai-delay='1850'],
body[data-sai-delay='1850'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1850'].sai-animate,
body[data-sai-delay='1850'] [data-sai].sai-animate {
    transition-delay: 1.85s;
}

[data-sai][data-sai][data-sai-duration='1900'],
body[data-sai-duration='1900'] [data-sai] {
    transition-duration: 1.9s;
}

[data-sai][data-sai][data-sai-delay='1900'],
body[data-sai-delay='1900'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1900'].sai-animate,
body[data-sai-delay='1900'] [data-sai].sai-animate {
    transition-delay: 1.9s;
}

[data-sai][data-sai][data-sai-duration='1950'],
body[data-sai-duration='1950'] [data-sai] {
    transition-duration: 1.95s;
}

[data-sai][data-sai][data-sai-delay='1950'],
body[data-sai-delay='1950'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='1950'].sai-animate,
body[data-sai-delay='1950'] [data-sai].sai-animate {
    transition-delay: 1.95s;
}

[data-sai][data-sai][data-sai-duration='2000'],
body[data-sai-duration='2000'] [data-sai] {
    transition-duration: 2s;
}

[data-sai][data-sai][data-sai-delay='2000'],
body[data-sai-delay='2000'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2000'].sai-animate,
body[data-sai-delay='2000'] [data-sai].sai-animate {
    transition-delay: 2s;
}

[data-sai][data-sai][data-sai-duration='2050'],
body[data-sai-duration='2050'] [data-sai] {
    transition-duration: 2.05s;
}

[data-sai][data-sai][data-sai-delay='2050'],
body[data-sai-delay='2050'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2050'].sai-animate,
body[data-sai-delay='2050'] [data-sai].sai-animate {
    transition-delay: 2.05s;
}

[data-sai][data-sai][data-sai-duration='2100'],
body[data-sai-duration='2100'] [data-sai] {
    transition-duration: 2.1s;
}

[data-sai][data-sai][data-sai-delay='2100'],
body[data-sai-delay='2100'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2100'].sai-animate,
body[data-sai-delay='2100'] [data-sai].sai-animate {
    transition-delay: 2.1s;
}

[data-sai][data-sai][data-sai-duration='2150'],
body[data-sai-duration='2150'] [data-sai] {
    transition-duration: 2.15s;
}

[data-sai][data-sai][data-sai-delay='2150'],
body[data-sai-delay='2150'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2150'].sai-animate,
body[data-sai-delay='2150'] [data-sai].sai-animate {
    transition-delay: 2.15s;
}

[data-sai][data-sai][data-sai-duration='2200'],
body[data-sai-duration='2200'] [data-sai] {
    transition-duration: 2.2s;
}

[data-sai][data-sai][data-sai-delay='2200'],
body[data-sai-delay='2200'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2200'].sai-animate,
body[data-sai-delay='2200'] [data-sai].sai-animate {
    transition-delay: 2.2s;
}

[data-sai][data-sai][data-sai-duration='2250'],
body[data-sai-duration='2250'] [data-sai] {
    transition-duration: 2.25s;
}

[data-sai][data-sai][data-sai-delay='2250'],
body[data-sai-delay='2250'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2250'].sai-animate,
body[data-sai-delay='2250'] [data-sai].sai-animate {
    transition-delay: 2.25s;
}

[data-sai][data-sai][data-sai-duration='2300'],
body[data-sai-duration='2300'] [data-sai] {
    transition-duration: 2.3s;
}

[data-sai][data-sai][data-sai-delay='2300'],
body[data-sai-delay='2300'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2300'].sai-animate,
body[data-sai-delay='2300'] [data-sai].sai-animate {
    transition-delay: 2.3s;
}

[data-sai][data-sai][data-sai-duration='2350'],
body[data-sai-duration='2350'] [data-sai] {
    transition-duration: 2.35s;
}

[data-sai][data-sai][data-sai-delay='2350'],
body[data-sai-delay='2350'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2350'].sai-animate,
body[data-sai-delay='2350'] [data-sai].sai-animate {
    transition-delay: 2.35s;
}

[data-sai][data-sai][data-sai-duration='2400'],
body[data-sai-duration='2400'] [data-sai] {
    transition-duration: 2.4s;
}

[data-sai][data-sai][data-sai-delay='2400'],
body[data-sai-delay='2400'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2400'].sai-animate,
body[data-sai-delay='2400'] [data-sai].sai-animate {
    transition-delay: 2.4s;
}

[data-sai][data-sai][data-sai-duration='2450'],
body[data-sai-duration='2450'] [data-sai] {
    transition-duration: 2.45s;
}

[data-sai][data-sai][data-sai-delay='2450'],
body[data-sai-delay='2450'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2450'].sai-animate,
body[data-sai-delay='2450'] [data-sai].sai-animate {
    transition-delay: 2.45s;
}

[data-sai][data-sai][data-sai-duration='2500'],
body[data-sai-duration='2500'] [data-sai] {
    transition-duration: 2.5s;
}

[data-sai][data-sai][data-sai-delay='2500'],
body[data-sai-delay='2500'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2500'].sai-animate,
body[data-sai-delay='2500'] [data-sai].sai-animate {
    transition-delay: 2.5s;
}

[data-sai][data-sai][data-sai-duration='2550'],
body[data-sai-duration='2550'] [data-sai] {
    transition-duration: 2.55s;
}

[data-sai][data-sai][data-sai-delay='2550'],
body[data-sai-delay='2550'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2550'].sai-animate,
body[data-sai-delay='2550'] [data-sai].sai-animate {
    transition-delay: 2.55s;
}

[data-sai][data-sai][data-sai-duration='2600'],
body[data-sai-duration='2600'] [data-sai] {
    transition-duration: 2.6s;
}

[data-sai][data-sai][data-sai-delay='2600'],
body[data-sai-delay='2600'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2600'].sai-animate,
body[data-sai-delay='2600'] [data-sai].sai-animate {
    transition-delay: 2.6s;
}

[data-sai][data-sai][data-sai-duration='2650'],
body[data-sai-duration='2650'] [data-sai] {
    transition-duration: 2.65s;
}

[data-sai][data-sai][data-sai-delay='2650'],
body[data-sai-delay='2650'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2650'].sai-animate,
body[data-sai-delay='2650'] [data-sai].sai-animate {
    transition-delay: 2.65s;
}

[data-sai][data-sai][data-sai-duration='2700'],
body[data-sai-duration='2700'] [data-sai] {
    transition-duration: 2.7s;
}

[data-sai][data-sai][data-sai-delay='2700'],
body[data-sai-delay='2700'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2700'].sai-animate,
body[data-sai-delay='2700'] [data-sai].sai-animate {
    transition-delay: 2.7s;
}

[data-sai][data-sai][data-sai-duration='2750'],
body[data-sai-duration='2750'] [data-sai] {
    transition-duration: 2.75s;
}

[data-sai][data-sai][data-sai-delay='2750'],
body[data-sai-delay='2750'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2750'].sai-animate,
body[data-sai-delay='2750'] [data-sai].sai-animate {
    transition-delay: 2.75s;
}

[data-sai][data-sai][data-sai-duration='2800'],
body[data-sai-duration='2800'] [data-sai] {
    transition-duration: 2.8s;
}

[data-sai][data-sai][data-sai-delay='2800'],
body[data-sai-delay='2800'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2800'].sai-animate,
body[data-sai-delay='2800'] [data-sai].sai-animate {
    transition-delay: 2.8s;
}

[data-sai][data-sai][data-sai-duration='2850'],
body[data-sai-duration='2850'] [data-sai] {
    transition-duration: 2.85s;
}

[data-sai][data-sai][data-sai-delay='2850'],
body[data-sai-delay='2850'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2850'].sai-animate,
body[data-sai-delay='2850'] [data-sai].sai-animate {
    transition-delay: 2.85s;
}

[data-sai][data-sai][data-sai-duration='2900'],
body[data-sai-duration='2900'] [data-sai] {
    transition-duration: 2.9s;
}

[data-sai][data-sai][data-sai-delay='2900'],
body[data-sai-delay='2900'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2900'].sai-animate,
body[data-sai-delay='2900'] [data-sai].sai-animate {
    transition-delay: 2.9s;
}

[data-sai][data-sai][data-sai-duration='2950'],
body[data-sai-duration='2950'] [data-sai] {
    transition-duration: 2.95s;
}

[data-sai][data-sai][data-sai-delay='2950'],
body[data-sai-delay='2950'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='2950'].sai-animate,
body[data-sai-delay='2950'] [data-sai].sai-animate {
    transition-delay: 2.95s;
}

[data-sai][data-sai][data-sai-duration='3000'],
body[data-sai-duration='3000'] [data-sai] {
    transition-duration: 3s;
}

[data-sai][data-sai][data-sai-delay='3000'],
body[data-sai-delay='3000'] [data-sai] {
    transition-delay: 0;
}

[data-sai][data-sai][data-sai-delay='3000'].sai-animate,
body[data-sai-delay='3000'] [data-sai].sai-animate {
    transition-delay: 3s;
}

[data-sai][data-sai][data-sai-easing='linear'],
body[data-sai-easing='linear'] [data-sai] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
}

[data-sai][data-sai][data-sai-easing='ease'],
body[data-sai-easing='ease'] [data-sai] {
    transition-timing-function: ease;
}

[data-sai][data-sai][data-sai-easing='ease-in'],
body[data-sai-easing='ease-in'] [data-sai] {
    transition-timing-function: ease-in;
}

[data-sai][data-sai][data-sai-easing='ease-out'],
body[data-sai-easing='ease-out'] [data-sai] {
    transition-timing-function: ease-out;
}

[data-sai][data-sai][data-sai-easing='ease-in-out'],
body[data-sai-easing='ease-in-out'] [data-sai] {
    transition-timing-function: ease-in-out;
}

[data-sai][data-sai][data-sai-easing='ease-in-back'],
body[data-sai-easing='ease-in-back'] [data-sai] {
    transition-timing-function: cubic-bezier(.6, -.28, .735, .045);
}

[data-sai][data-sai][data-sai-easing='ease-out-back'],
body[data-sai-easing='ease-out-back'] [data-sai] {
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
}

[data-sai][data-sai][data-sai-easing='ease-in-out-back'],
body[data-sai-easing='ease-in-out-back'] [data-sai] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
}

[data-sai][data-sai][data-sai-easing='ease-in-sine'],
body[data-sai-easing='ease-in-sine'] [data-sai] {
    transition-timing-function: cubic-bezier(.47, 0, .745, .715);
}

[data-sai][data-sai][data-sai-easing='ease-out-sine'],
body[data-sai-easing='ease-out-sine'] [data-sai] {
    transition-timing-function: cubic-bezier(.39, .575, .565, 1);
}

[data-sai][data-sai][data-sai-easing='ease-in-out-sine'],
body[data-sai-easing='ease-in-out-sine'] [data-sai] {
    transition-timing-function: cubic-bezier(.445, .05, .55, .95);
}

[data-sai][data-sai][data-sai-easing='ease-in-quad'],
body[data-sai-easing='ease-in-quad'] [data-sai] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}

[data-sai][data-sai][data-sai-easing='ease-out-quad'],
body[data-sai-easing='ease-out-quad'] [data-sai] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

[data-sai][data-sai][data-sai-easing='ease-in-out-quad'],
body[data-sai-easing='ease-in-out-quad'] [data-sai] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

[data-sai][data-sai][data-sai-easing='ease-in-cubic'],
body[data-sai-easing='ease-in-cubic'] [data-sai] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}

[data-sai][data-sai][data-sai-easing='ease-out-cubic'],
body[data-sai-easing='ease-out-cubic'] [data-sai] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

[data-sai][data-sai][data-sai-easing='ease-in-out-cubic'],
body[data-sai-easing='ease-in-out-cubic'] [data-sai] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

[data-sai][data-sai][data-sai-easing='ease-in-quart'],
body[data-sai-easing='ease-in-quart'] [data-sai] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}

[data-sai][data-sai][data-sai-easing='ease-out-quart'],
body[data-sai-easing='ease-out-quart'] [data-sai] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

[data-sai][data-sai][data-sai-easing='ease-in-out-quart'],
body[data-sai-easing='ease-in-out-quart'] [data-sai] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

[data-sai^='fade'][data-sai^='fade'] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-sai^='fade'][data-sai^='fade'].sai-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-sai='fade-up'] {
    transform: translate3d(0, 40px, 0);
}

[data-sai='fade-down'] {
    transform: translate3d(0, -100px, 0);
}

[data-sai='fade-right'] {
    transform: translate3d(-100px, 0, 0);
}

[data-sai='fade-left'] {
    transform: translate3d(100px, 0, 0);
}

[data-sai='fade-up-right'] {
    transform: translate3d(-100px, 100px, 0);
}

[data-sai='fade-up-left'] {
    transform: translate3d(100px, 100px, 0);
}

[data-sai='fade-down-right'] {
    transform: translate3d(-100px, -100px, 0);
}

[data-sai='fade-down-left'] {
    transform: translate3d(100px, -100px, 0);
}

[data-sai^='zoom'][data-sai^='zoom'] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-sai^='zoom'][data-sai^='zoom'].sai-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

[data-sai='zoom-in'] {
    transform: scale(.6);
}

[data-sai='zoom-in-up'] {
    transform: translate3d(0, 100px, 0) scale(.6);
}

[data-sai='zoom-in-down'] {
    transform: translate3d(0, -100px, 0) scale(.6);
}

[data-sai='zoom-in-right'] {
    transform: translate3d(-100px, 0, 0) scale(.6);
}

[data-sai='zoom-in-left'] {
    transform: translate3d(100px, 0, 0) scale(.6);
}

[data-sai='zoom-out'] {
    transform: scale(1.2);
}

[data-sai='zoom-out-up'] {
    transform: translate3d(0, 100px, 0) scale(1.2);
}

[data-sai='zoom-out-down'] {
    transform: translate3d(0, -100px, 0) scale(1.2);
}

[data-sai='zoom-out-right'] {
    transform: translate3d(-100px, 0, 0) scale(1.2);
}

[data-sai='zoom-out-left'] {
    transform: translate3d(100px, 0, 0) scale(1.2);
}

[data-sai^='slide'][data-sai^='slide'] {
    transition-property: transform;
}

[data-sai^='slide'][data-sai^='slide'].sai-animate {
    transform: translateZ(0);
}

[data-sai='slide-up'] {
    transform: translate3d(0, 100%, 0);
}

[data-sai='slide-down'] {
    transform: translate3d(0, -100%, 0);
}

[data-sai='slide-right'] {
    transform: translate3d(-100%, 0, 0);
}

[data-sai='slide-left'] {
    transform: translate3d(100%, 0, 0);
}

[data-sai^='flip'][data-sai^='flip'] {
    backface-visibility: hidden;
    transition-property: transform;
}

[data-sai='flip-left'] {
    transform: perspective(2500px) rotateY(-100deg);
}

[data-sai='flip-left'].sai-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-sai='flip-right'] {
    transform: perspective(2500px) rotateY(100deg);
}

[data-sai='flip-right'].sai-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-sai='flip-up'] {
    transform: perspective(2500px) rotateX(-100deg);
}

[data-sai='flip-up'].sai-animate {
    transform: perspective(2500px) rotateX(0);
}

[data-sai='flip-down'] {
    transform: perspective(2500px) rotateX(100deg);
}

[data-sai='flip-down'].sai-animate {
    transform: perspective(2500px) rotateX(0);
}
[data-sai^='target'][data-sai^='target'] {
    opacity: 1;
}
